*
!*.py
!*.yaml
!*.txt
!*.html
!*/
!*.conf
!*.js
!*.css
!*.jpg
!*.png
!*.gif
!*.ico
!*.font
!*.less
!*.eot
!*.woff
!*.svg
!*.json
!*.gitignore
!*.swf
!*.docx
!*.sh
!*.ini
!*.rb
!*.dylib
!*lib
project/www/static/uploads/*
project/conf/settings_local.py
fabfile.py
move.py